{{#view App.DraggableView}}

    <div {{bindAttr class=":contact-edit :pane controllers.contact.editMode:shown:hidden"}}>
        <div class="tools">
            <button class="icon-arrow-left blue fleft btn-mobile" {{action "closeContactWithTransition" target="view"}}></button>
        </div>
        
        <div class="line">
            <h3>Edit Contact</h3>
        </div>
        <div class="line">
            <label for="fname">First Name </label>
            {{input value=fname}}
        </div>
        <div class="line">
            <label for="lname">Last Name </label>
            {{input value=lname}}
        </div>
        <div class="line">
            <label for="mobno">Contact No. </label>
            {{input value=mobno}}
        </div>
        <div class="line">
            <label for="email">E-mail ID </label>
            {{input value=email}}
        </div>
        <div class="line">
            <label for="addr">Address </label>
            {{textarea value=addr}}
        </div>
        <div class="line">
            <label for="note">Note </label>
            {{textarea value=note}}
        </div>
        <div class="aright">
            <button class="blue btn-desktop" {{action "save"}} title="save"> <b>SAVE</b> </button>
            <button class="blue btn-mobile" {{action "saveWithTransition" target="view"}} title="save"> <b>SAVE</b> </button>
        </div>
    </div>

{{/view}}